.star {
    fill: #1e99e7;
    font-size: 24pt;
    font-weight:  bold;
}

.circle {
    fill: #1e99e7;
    font-size: 24pt;
    font-weight:  bold;
}

.square {
    fill: #1e99e7;
    font-size: 24pt;
    font-weight:  bold;
}
